.image-section{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .img-dev{
        width: 100%;
        height: 50vh;
        .img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .about-info{
        margin-left: 2rem;
        h4{
            font-size: 2rem;
            color: rgb(108, 124, 108);
        }
        .about-text{
            padding: 1rem 0;
        }
    }
    @media screen and (max-width: 1400px) {
        flex-direction: column;
        .about-info{
            margin-left: 0;
            margin-top: 1rem;
        }
    }
}

.about-details{
    display: flex;
    p{
        padding: .3rem 0;
    }
    .about-details-left{
        font-weight: bold;
        color: rgb(108, 124, 108);
        margin-bottom: 1rem;
    }
    .about-details-right{
        margin-left: 1rem;
        margin-bottom: 1rem;
    }
}

.resume-btn{
    // padding: .5rem 1rem;
    // background-color: #70acdd;
    // outline: none;
    // border:inset;
    // font-family: inherit;
    // font-size: inherit;
    // color: rgb(255, 255, 255);
    // text-transform: uppercase;
    // cursor: pointer;
    // letter-spacing: 2px;
    // margin-top: 1rem;
    // position: relative;

    background-color: #70acdd;
    color: white;
    padding: .5rem 1rem;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 5px;
    position: relative;
    &:hover{
        background-color: #70acddbe;
    }
}

.skillsSection-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
    row-gap: 3rem;
    margin: 4rem 0;

    @media screen and (max-width: 1085px){
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media screen and (max-width: 780px){
        grid-template-columns: repeat(1, 1fr);
    }

    .logo{
        font-size: 2.8rem;
    }
    .js{
        color: #f7df1e;
    }
    .react{
        color:  #61DBFB;
    }
    .html{
        color: #F06529;
    }
    .npm{
        color: #CC3534;
    }
    .sass{
        color: #CD6799;
    }
    .css{
        color: #3C99DC;
    }

    .RailsLogo{
        width: 20%;
        height: 101%;
    }

    .RubyLogo{
        width: 18%;
        height: 95%;
    }
}
