.image-section{
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    .img-dev{
        width: 100%;
        height: 50vh;
        .img{
            width: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .about-info{
        margin-left: 2rem;
        h4{
            font-size: 2rem;
        }
        .about-text{
            padding: 1rem 0;
        }
    }
}

.about-details{
    display: flex;
    p{
        padding: .3rem 0;
    }
    .about-details-left{
        // font-weight: bold;
    }
    .about-details-right{
        margin-left: 1rem;
    }
}

.resume-btn{
    padding: .5rem 1rem;
    background-color: rgb(255, 255, 255);
    outline: none;
    border:inset;
    // border-radius: 20%;
    font-family: inherit;
    font-size: inherit;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 1rem;
    position: relative;
   
    &::after{
        position: absolute;
        content: "";
        width: 0;
        height: .3rem;
        left: 0;
        bottom: 0;
        background-color: rgb(48, 96, 145);
        transition: all 0.4s ease-in-out;
    }
    &:hover::after{
        width: 100%;
    }
}

.skillsSection-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 3rem;
    margin: 4rem 0;
}

