.BlogsPage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    @media screen and (max-width: 1080px){
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2rem;
    }
    .blog{
        background-color: rgb(8, 35, 61);
        width: 100%;
        border-radius: 1%;
        padding: 1rem;
        overflow: hidden;
        transition: all .5s ease-in-out;
        &:hover{
            transform: scale(1.04);
        }
        .blog-content{
            overflow: hidden;
            padding-bottom: 2rem;
            img{
                border-radius: 1%;
                width: 100%;
                padding-bottom: 1rem;
            }
            .blog-link{
                color: white;
                font-family: inherit;
                text-decoration: none;
                font-size: 2rem;
                padding-bottom: 2rem;
                &:hover{
                    color: rgb(108, 124, 108);
                }
            }
        }
    }
}

.blog-title{
    margin-bottom: 4rem;
}