.App{
    .side-bar{
        width: 16%;
        height: 100vh;
        background-color: rgb(48, 96, 145);
        position: fixed;
    }

    .main-content{
        width: 84%;
        margin-left: 16%;
        background-color: #70acdd;
        min-height: 100vh;
        display: grid;
    }
}