.App{
    .side-bar{
        width: 16%;
        height: 100vh;
        background-color: rgb(48, 96, 145);
        position: fixed;
        @media screen and (max-width: 1000px){
            transform: translateX(-100%);
        }
    }

    .main-content{
        width: 84%;
        margin-left: 16%;
        background-color: #70acdd;
        min-height: 100vh;
        display: grid;
        position: relative;
        .content{
            margin: 5rem 15rem;
        }
        @media screen and (max-width: 1000px){
            margin-left: 0;
            width: 100%;
        }
    }
}