.App{
    .side-bar{
        width: 16%;
        height: 100vh;
        background-color: rgb(4, 22, 39);
        position: fixed;
        z-index: 11;
        // border-right: 1px solid black;
        transform-origin: left;
        @media screen and (max-width: 1000px){
            transition: all .4s ease-in-out;
            transform: translateX(-100%);
            width: 30%;
        }
        @media screen and (max-width: 411px){
            width: 50%;
        }
    }
    .bar-toggle{
        @media screen and (max-width: 1000px){
            transform: translateX(0);
            width: 30%;
        }
    }

    .main-content{
        width: 84%;
        margin-left: 16%;
        background-color: #ffffff;
        min-height: 100vh;
        display: grid;
        position: relative;
        .content{
            margin: 5rem 15rem;
            @media screen and (max-width: 1100px){
                margin: 2rem 10rem;
            }
            @media screen and (max-width: 1400px){
                margin: 3rem 10rem;
            }
            @media screen and (max-width: 710px){
                margin: 2rem 3rem;
            }
        }
        @media screen and (max-width: 1000px){
            margin-left: 0;
            width: 100%;
        }
    }
}

.nav-button{
    position: absolute;
    z-index: 10;
    right: 8%;
    top: 3%;
    width: 4rem;
    height: 4rem;
    display: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .line-1, .line-2, .line-3{
        height: .4rem;
        width: 100%;
        background-color: rgb(4, 22, 39);
        pointer-events: none;
        display: none;
        border-radius: 20px;
        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }
    @media screen and (max-width: 1000px){
        display: block;
        .line-1, .line-2, .line-3{
            display: block;
        }
    }
}