.navBar{
    height: 100vh;

    .nav{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
        .profile{
            width: 100%;
            text-align: center;
            margin-top: 1rem;
            border-bottom: 1px solid rgb(4, 22, 39);
            img{
                width: 70%;
                border-radius: 100%;
                border: 5px solid #70acdd;
                margin-bottom: 1rem;
            } 
        }

        .nav-iteams{
            width: 100%;
            .nav-iteam{
                list-style: none;   
                text-align: center;
                color: #70acdd;
                font-weight: 600;
            }

            a{
                text-decoration: none;
                font-size: inherit;
                color: inherit;
                display: block;
                padding: .5rem 0;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: .4rem;
                    height: 100%;
                    background-color: #ffffff44;
                    transform-origin: bottom;
                    transform: scale(0);
                    overflow-x: hidden;
                }
                &:hover::before{
                    width: 100%;
                    transform: scale(1);

                }
            }
        }

        .footer{
            width: 100%;
            border-top: 1px solid rgb(4, 22, 39);

            p{
                text-align: center;
                padding: 1.2rem 0;
                color: #70acdd;
                font-size: 15px;
            }
        }

    }
}

.nav-active{
    background-color: #ffffff;
}

