.skills-section{
    margin: .5rem 0;
}

.skills-container{

    .skill-title{
        font-size: 1.4rem;
        font-weight: 400;
    }

    .skill-bar{
        display: flex;
        align-items: center;
        .skill-text{
            // color: lawngreen;
        }

        .skill-progress{
                width: 100%;
            .progress{
                width: 100%;
                height: .5rem;
                // background-color: rgb(255, 255, 255);
                margin-left: 1rem;
                background-color: #70acdd5d;
                position: relative;
                .inner-progress{
                    position: absolute;
                    background-color: #70acdd;
                    height: 100%;
                    bottom: 0;
                    left: 0;
                }
            }
        }

    }
}