@import './styles/layout.scss';
@import './styles/navbar.scss';
@import './styles/typography.scss';
@import './styles/title.scss';
@import './styles/about.scss';
@import './styles/skill.scss';
@import './styles/blogs.scss';
@import './styles/portfolio.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(4, 22, 39);
    border-radius: 50px;
}

body::-webkit-scrollbar-track{
    background-color: rgba(108, 124, 108, 0.151);
}

body{
    color: rgb(108, 124, 108);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
}

span{
    color: #70acdd;
}

@media screen and (max-width: 411px){
    html{
        font-size: 70%;
    }
}
@media screen and (max-width: 700px){
    html{
        font-size: 90%;
    }
}
@media screen and (max-width: 480px){
    h2{
        font-size: 60%;
    }
    h3{
        font-size: 70%;
    }
}
