@import './styles/layout.scss';
@import './styles/navbar.scss';
@import './styles/typography.scss';
@import './styles/title.scss';
@import './styles/about.scss';
@import './styles/skill.scss';
@import './styles/blogs.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(48, 96, 145);
    border-radius: 50px;
}

body::-webkit-scrollbar-track{
    background-color: rgb(255, 255, 255);
}

body{
    color: #ffffff;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.2rem;
}

span{
    color: rgb(108, 116, 124);
}